.navigation{
    display: flex;
    padding: 24px;
    justify-content: space-between;
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    /* position: fixed;
    left: 0;
    right: 0;
    z-index: 1; */
}
.navigation__item{
    display: flex;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    margin: 0 48px;
}
.navigation__item-animation{
    position: relative;
}
.navigation__item-animation::before{
    content: '';
    height: 3px;
    width: 0;
    background: #eee;
    position: absolute;
    bottom: -4px;
    transition: all 0.35s linear;
}
.navigation__item-animation:hover::before{
    width: 100%;
}
