.rows{
}
.columns{
    margin-bottom: 12px;
}
.CardImg{
    height: 320px;
    transition: all 0.5s;
}
.CardImg:hover{
    transform: scale(1.2)
}
.card-product{
    overflow: hidden;
    transition: all 0.5s;
}
