.pagination{
    margin: 24px 0;
    display: flex;
    justify-content: center;
}
.card-post{
    transition: all ease-in-out 0.3s;
    z-index: 111;
}
.card-post:hover{
    transform: translateY(-10px);
}