.home-container-image{
    width: 100%;
    height: 112vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('./background.png');
    background-position: center;
    background-size: cover;
    margin-top: -85px;
}
.img-fixed{
    display: flex;
    justify-content: center;
}
.Carousel-Container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 28px;
}
.btn-nav{
    margin-top: 20px;
    background: transparent;
    width: 200px;
    color: #fff;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 25px;
    border: 2px solid #009688;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.btn-nav span{
    position: absolute;
    width: 0;
    height: 100%;
    background: #01f8df;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    z-index: -1;
    transition: all 0.5s;
}
.btn-nav:hover span{
    width: 100%
}
.btn-nav:hover{
    border: none;
}

.home-container-video{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    display: flex;
    align-items: center;
    color: #fff;
}
.home-container-video__vd{
    position: absolute;
    left: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
}
.home-container-video-content{
 
}
.home-container-video-images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.item img{
    height: 200px;
    margin: 12px;
    transition: 0.5s all;
    border-radius: 12px;
}
.item:hover .item-hover{
    transform: translateY(-10px);
}
